langchain
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
langgraph
streamlit
flask
groq
python-dotenv
gunicorn
python-docx
pypdf
duckduckgo-search
pandas
openpyxl
markdown